.tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    gap: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-size: 12px;
    line-height: 125%;
    text-transform: uppercase;
    height: 19px;
    border-radius: 12px;
}